.View {
    text-align: center;

}

select {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

button {
    width: 100px;
    font-size: 18px;
    margin: 20px;
    border-radius: 6px;
    border: none;
    background-color: green;
    color: white;
}



